.input-wrap{
  width:700rem;
  margin: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}




.form-field {
    width: 250rem;
    margin: 0 5rem;
  }
  
 
.add-btn{
  margin-right: 20rem;
}
  
