<div class="input-wrap">
  <div class="inputs">
    <mat-form-field class="example-form-field">
      <mat-label>Todo</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="todo"
        placeholder="Enter your new todo here"
      />
      <button
        *ngIf="todo"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="todo = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Deadline</mat-label>
      <input matInput type="date" [(ngModel)]="date" />
    </mat-form-field>
  </div>

  <div class="add-btn">
    <button mat-raised-button color="primary" (click)="addTodo()">Add</button>
  </div>
</div>
